.button{
   
    -fx-background-color:  #000000, linear-gradient(#7ebcea, #2f4b8f), linear-gradient(#426ab7, #263e75), linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-pref-width: 150px;
}

.linear-grad-repeat2{
    -fx-background-color: linear-gradient(from 41px 34px to 50px 50px, reflect,  #ff7f50 30%, #faebd7  47%);
    -fx-background-radius: 30;
    -fx-border-radius: 30;
 	-fx-border-width: 1;
 	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0); 	

}

.main-container{
	
	-fx-background-radius: 30;
	-fx-border-radius: 30;
	-fx-border-width: 1; 
	-fx-border-color:transparent;
	-fx-background-color: #BFB6BD;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.button-container{
	-fx-border-width: 1;
	

}

.graph-container {
	-fx-background-radius: 30;
	-fx-border-radius: 30;
	-fx-border-width: 1;
	-fx-border-color: transparent;
	-fx-background-color: #EBEBEB;
	-fx-spacing: 10;
	-fx-padding: 30;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
	

}

.newton-canvas #canvas{
	
	-fx-background-radius: 30;
	-fx-border-radius: 30;
	-fx-border-width: 1;
	-fx-border-color: transparent;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
	-fx-background-image: url("http://www.motorcycleclassics.com/~/media/Images/MCC/Editorial/Articles/Magazine%20Articles/2012/07-01/Destinations%20The%20Extraterrestrial%20Highway/Extra%20Terrestrial%20Highway.jpg");
}

.chart-plot-background {
	
    -fx-background-color: #e2ecfe;
    
}
.chart-vertical-grid-lines {
    -fx-stroke: #3278fa;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #3278fa;
}
.chart-alternative-row-fill {
    -fx-fill: #99bcfd;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

